<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/f517073e-b5ac-42ce-b613-c283525daeff/resourceGroups/projectfinal-product/providers/Microsoft.ContainerRegistry/registries/productorderfinal</ResourceId>
    <ResourceName>productorderfinal</ResourceName>
    <ResourceGroup>projectfinal-product</ResourceGroup>
    <Subscription>Azure Pass - Sponsorship</Subscription>
    <RegistryUrl>https://productorderfinal.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>e8687838-c2f7-4d17-b7cf-2428b6858ee6</ProjectGuid>
  </PropertyGroup>
</Project>